{% extends "base.tf.j2" %}

{% block environment_resources scoped %}
{{ super() }}

resource "aws_s3_bucket" "custom_bucket" {
  bucket = "{{ environment.instance_name }}"
  force_destroy = true
}
{% endblock %}